pip==26.1
certifi==2026.4.22
charset_normalizer==3.4.7
click==8.3.3
colorama==0.4.6
colorzero==2.0
contourpy==1.3.3
cycler==0.12.1
daqhats==1.4.1.0
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
et-xmlfile==2.0.0
fonttools==4.62.1
future==1.0.0
gpiozero==2.0.1
hightime==1.0.0
idna==3.13
kiwisolver==1.5.0
matplotlib==3.10.9
nidaqmx==1.5.0
nitypes==1.0.1
numexpr==2.14.1
numpy==2.4.4
odfpy==1.4.1
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
pandastable==0.14.0
pigpio==1.78
pillow==12.2.0
pyparsing==3.3.2
pyserial==3.5
python-calamine==0.6.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.1.post1
pyvisa==1.16.2
pyxlsb==1.0.10
requests==2.33.1
scipy==1.17.1
seaborn==0.13.2
setuptools==82.0.1
six==1.17.0
typing-extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.6.3
xlrd==2.0.2
xlsxwriter==3.2.9